.admin-container {
    margin: 10px 0 20px;   
}

.admin-container button {
    font-size: 1rem;
}
.admin-container h2 {
    background-color: var(--bg-footer);
    color: cyan;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
}

.form-container {
    display: flex;
}
.form2 {
    margin-left: 30px;
}

.create-user {
    padding: 10px 20px;
    background-color: var(--bg-create-user);
    color: var(--gris-tres-clair);
}

.create-user label,
.create-user input,
.create-user fieldset,
.create-user select {
    font-size: 0.9rem;

}

.create-user input {
    padding: 3px;
}

.create-user label {
    margin-bottom: 3px;
}

.create-user button {
    width: 100%;
    margin-top: 10px;
}

.ajout-jardinier {
    margin-top: 20px;
}

.ajout-jardinier h3 {
    font-size: 1rem;
    background-color: var(--bg-create-user);
    color: cyan;
    padding-top: 10px;
}


.form2 select {
   margin-bottom: 10px;
   height: 28px;
}

.show-off {
    display: none;
}

.show-on {
    display: block;
}

/* padding 0 10px; */
.table {
    margin-top: 20px;
    border-collapse: collapse;
    max-width: 100%;
    font-size: 14px;
}
  
.table-header th {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid black;
}
  
.table-body td {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border: 1px solid black;
    padding: 0 10px;
}

.custom-password-column {
    width: 200px; 
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }