.carousel {
    display: flex;
    justify-content: center;
    margin: 30px 5px 10px 5px;
}

.carousel img {
    width: 100%;
    max-height: 600px;
    max-width: 1500px;
    object-fit: cover;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
}