.fonctionnement-container {
    display: flex;
    padding: 50px;
    background-color: var(--bg-section);
}

.fonctionnement {
    display: flex;
    text-align: justify;
}

.fonctionnement-article {
    width: 320px;
    padding: 10px;
    margin-right: 10px;
}

.fonctionnement-article h2 {
    color: var(--btn-color);
}