.fonctionnement-container {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: var(--bg-section);
}

.fonctionnement {
    display: flex;
    text-align: justify;
}

.fonctionnement-article {
    max-width: 500px;
    padding: 10px;
    margin-right: 10px;
}

.fonctionnement-article h2 {
    color: var(--btn-color);
    padding-bottom: 10px;
}

.fonctionnement-image img {
    min-width: 400px;
    width: 100%;
}




@media (max-width: 768px) {
    .fonctionnement {
        display: block;
    }
    .fonctionnement-image img {
        min-width: 300px;
        width: 100%;
    }
}