footer {
    display: flex;
    background-color: var(--bg-footer);
    height: 120px;
}

footer figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 300px;
}

footer figure img {
    margin-inline: auto;
    height: 50px;
}

footer figure figcaption {
    font-size: 0.8rem;
    color: lightgray;
    padding-top: 10px;
    text-align: justify;
}

footer article {
    width: 100%;
    color: var(--gris-clair);
    padding: 20px;
    margin: auto 0;
}

footer article img {
    width: 32px;
}

footer article strong {
    font-size: 1.1rem;
}

.mail {
    display: flex;
    align-items: center;
}

footer article span {
    color: var(--btn-color);
    font-size: 1.5rem;
}

footer figure hr {
    border-color: rgb(88, 87, 87);
}

.developpeur {
    display: flex;
    justify-content: right;
    font-size: 0.7rem;
    color: beige;
}


@media (max-width: 560px) {
    footer {
        flex-direction: column;
        height: 182px;
    }

    footer figure {
        padding: 10px;
        width: 100%;
    }

    footer figure figcaption,
    footer article p {
        display: flex;
        justify-content: center;
    }
    footer article {
        padding: 10px;
        margin: 0;
    }
}
