.header {
    width: 100%;
    background-color: var(--bg-header);
    padding: 5px 5px 5px 10px;
}

.titre-header,
.header-top {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.titre-header h1 {
    color: white;
    font-family: var(--font-titre-header);
    font-size: 2.5rem;
    letter-spacing: 6px;
    text-shadow: 0 0 30px rgb(182, 182, 128);
}

.menu-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-header ul li {
    padding: 0 10px;
    border-bottom: 2px solid transparent;
}

.menu-header ul li a {
    font-size: 1.2rem;
    color: var(--color-menu);
}


.menu-header ul li:hover {
    border-bottom: 2px solid cyan;
}

.user_image {
    border: 1px solid white;
    border-radius: 50%;
}

.user_image:hover {
    cursor: pointer;
}


@media (max-width: 740px) { 
    .header-top {
        display: block;
    }
}


@media (max-width: 500px) { 
    .titre-header h1 {
        font-size: 1.5rem;
    }
    .header-top-image {
        display: flex;
        justify-content: center;
    }
    .menu-header ul li a {
        font-size: 1rem;
    } 
}
