@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200;400;600;700&display=swap');

:root {
    --bg-header: #14456D;
    --color-menu: white;
    --btn-color: #337AB7;
    --bg-footer: #232323;
    --gris-clair: #CCCCC7;
    --gris-tres-clair: #e6e6e2;
    --bg-titre: rgb(219, 239, 219);
    --bg-article: rgb(248, 236, 214);
    --bg-section: rgba(5, 191, 247, 0.092);
    --shadow: rgba(0, 255, 255, 0.378);
    --bg-info: rgba(247, 0, 255, 0.222);

    --font-titre-header: "Pacifico";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.btn {
    background-color: var(--btn-color);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--bg-header);
}

.bg-titre {
    margin: 40px auto;
    background-color: var(--bg-titre);
    padding: 10px 40px;
    border-radius: 30px 100px 30px;
    box-shadow: 0 0 10px gray;
    border: 2px solid white;
}

.f {
    display: flex;
}
.fc {
    display: flex;
    justify-content: center;
}
.fdc {
    flex-direction: column;
}
.jca {
    justify-content: space-around;
}


.aic {
    align-items: center;
}